html, body
{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	overflow: hidden;
}

.connect
{
	display: table-cell;
	vertical-align: middle;
	padding: 0 5px 0 5px;
	height: 40px;
	text-align: center;
}

.data_row
{
	position: relative;
	width: 100%;
	height: calc( 100% - 41px );
	border-top: 1px solid #AAAAAA;
}

.container
{
	position: absolute;
	top: 0px;
	bottom: 0;
	width: 100%;
	overflow: auto;
}

.tab_row
{
	display: table;
	width: 100%;
	overflow: hidden;
}

.tab,
.tab:hover
{
	white-space: nowrap;
	display: table-cell;
	cursor: pointer;

	height: 40px;

	vertical-align: middle;

	padding: 0 5px 0 5px;
	color: #777777;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFFFFF;

	box-sizing: border-box;
	border-top: 2px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
}

.tab
{
	background-color: #DDDDDD;
	background-image: linear-gradient(to bottom, #EEEEEE, #CCCCCC);
}

.tab:hover
{
	background-color: #C0C0C0;
	background-image: linear-gradient(to bottom, #DDDDDD, #C0C0C0);
}

.popup_button:active,
.popup_button:hover,
.popup_button
{
	cursor: pointer;

	display: table-cell;
	vertical-align: middle;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #777777;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFFFFF;
	border-radius: 12px;
	border: 1px solid #AAAAAA;
	background-color: #DDDDDD;
	background-image: linear-gradient(to bottom, #EEEEEE, #CCCCCC);
	
	box-shadow: 0px 0px 4px 0px #AAAAAA;
}

.popup_button:hover
{
	background-color: #C0C0C0;
	background-image: linear-gradient(to bottom, #DDDDDD, #C0C0C0);
}

.popup_button:active
{
	background-image: linear-gradient(to bottom, #CCCCCC, #EEEEEE);
}

.l_table
{
	display: table;
	width: 100%;
	border-collapse: collapse;
}

.l_row
{
	display: table-row;
	border-bottom: 1px solid #AAAAAA;
	margin-right: 10px;
}

.l_row:nth-child(even)
{
	background-color: #EEEEEE;
}

.l_row:hover
{
	background-color: #D0D0D0;
}

.l_header
{
	display: table-header-group;
	background-color: #DDDDDD;
	border-bottom: 1px solid #AAAAAA;
}

.l_cell,
.l_heading
{
	display: table-cell;
	padding: 3px 10px;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
}

.l_heading
{
	background-color: #DDDDDD;
}

.l_heading:first-child,
.l_cell:first-child
{
	border-left: none;
}

.l_heading:last-child,
.l_cell:last-child
{
	border-right: none;
}

@media screen and (max-width: 810px)
{
	.connect,
	.tab_row,
	.tab,.tab:hover
	{
		height: 28px;
		line-height: 28px;
	}
	
	.tab_row
	{
		border-collapse: collapse;
	}

	.connect,
	.tab
	{
		display: table-row;
	}
	
	.data_row
	{
		height: calc( 100% - 210px );
	}
}